<html>
<head>
	{% load staticfiles %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="{% static 'KutijaApp/style.css' %}"/>
	<title>Admin Panel</title>
</head>
<body>
	<div> <!-- Navbar begin-->
	{% include "navbar.html" %}
	</div> <!-- Navbar end -->

	<div> <!-- Locations list begin -->
		<br>
		<br>
		<br>
		<ul>
			{% for location in locations%}
			<li>
				
				<a href = "#" data-toggle="modal" data-target="#editLocation">
					<button class="btn btn-warning">
						Lokacija: {{location.name}}
					</button>
				</a>
				
				<br>
				<br>
				<ul>
					{% for box in boxes%}
						{% if box.Location == location %}
						<li>
							<button class="btn btn-danger">Kutija: {{box.id}} </button>
						</li>
						<br>
						{% endif %}
					{% endfor %}

				</ul>

			
			</li>
			{% endfor %}

		</ul>
	</div> <!-- Locations list end-->

	<div> <!-- Moderator buttons begin-->
	<a href = "#" data-toggle="modal" data-target="#addLocation"><button class="btn btn-primary ">Dodaj lokaciju</button></a>

	<a href = "#" data-toggle="modal" data-target="#addBox"><button class="btn btn-primary">Dodaj kutiju</button></a>

	<a href = "#" data-toggle="modal" data-target="#addUser"><button class="btn btn-primary">Dodaj korisnika</button></a>
		
	</div>

	<div class="modal fade" id="addLocation">
		<div class = "modal-dialog">
			<div class = "modal-content">
				<form method = "post" action="addlocation/" name="form">
					{% csrf_token %}
					<div class="modal-body login">
						<b>Naziv lokacije:</b>
						<input class="form-control" name="name"/>
						<b>Slika lokacije:</b>
						<input class="form-control" name="locationImg"/>
						<b>Opis:</b>
						<input class="form-control" name="description"/>
						<b>Veb sajt:</b>
						<input class="form-control" name="locationLink"/>
						<b>Longitude:</b>
						<input class="form-control" name="longitude"/>
						<b>Latitude:</b>
						<input class="form-control" name="latitude"/>
						<b>Korisnik:</b>
						
  						<select class="form-control" name="sel1">
					    {% for user in users %}
					    <option value = {{user.user.id}}>{{user.user.username}}</option>
					    {% endfor %}
  						</select>
  						
					</div>
					<div class="modal-footer">
						<input type="submit" class="btn btn-success pull-left" value="Dodaj lokaciju!"/>
						<button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
					</div>
				</form>
				
			</div>
		</div>
	</div>

	<div class="modal fade" id="addBox">
		<div class = "modal-dialog">
			<div class = "modal-content">
				<form method = "post" action="addbox/" name="form">
					{% csrf_token %}
					<div class="modal-body login">
						<b>Lokacija kutije:</b>
  						<select class="form-control" name="sel2">
					    {% for location in locations %}
					    <option value = {{location.id}}>{{location.name}}</option>
					    {% endfor %}
  						</select>
  						
					</div>
					<div class="modal-footer">
						<input type="submit" class="btn btn-success pull-left" value="Dodaj kutiju!"/>
						<button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
					</div>
				</form>
				
			</div>
		</div>
	</div>

	<div class="modal fade" id="addUser">
		<div class = "modal-dialog">
			<div class = "modal-content">
				<form method = "post" action="adduser/" name="form">
					{% csrf_token %}
					<div class="modal-body login">
						<b>e-mail:</b>
						<input class="form-control" type="email" name="email"/>
						<b>Korisnicko ime:</b>
						<input class="form-control" name="username"/>
						<b>sifra:</b>
						<input class="form-control" type = "password" name="pass"/>
						
					</div>
					<div class="modal-footer">
						<input type="submit" class="btn btn-success pull-left" value="Dodaj korisnika!"/>
						<button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
					</div>
				</form>
				
			</div>
		</div>
	</div>

</body>
</html>